body {
  margin: 0;
  padding: 0;
  background-color: rgba(244, 198, 174, 0.359);
  font-family: sans-serif;
}

#main {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;   
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;  
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

form {
  margin-bottom: 20px;
  
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="submit"] {
  padding: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #ddd;
  
}


